In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')

In [49]:
#salary parsing
#company name text only
#state field
#age of the company
#parsing of job description (python,etc)

## Salary Parsing

In [50]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [51]:
df=df[df['Salary Estimate']!='-1']

In [52]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [53]:
minus_kd = salary.apply(lambda x:x.replace('K','').replace('$',''))

In [54]:
min_hr=minus_kd.apply(lambda x:x.lower().replace('per hour','').replace('employer provided salary:',''))

In [55]:
df['min_salary']=min_hr.apply(lambda x: int(x.split('-')[0]))

In [56]:
df['min_salary'].dtype

dtype('int64')

In [57]:
df['max_salary']=min_hr.apply(lambda x: int(x.split('-')[1]))

In [58]:
df['max_salary'].dtype

dtype('int64')

In [59]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [60]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

## company name text only

In [64]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

## State Field

In [67]:
df['job_state']=df['Location'].apply(lambda x: x.split(',')[1])

In [69]:
df['job_state'].value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: job_state, dtype: int64

In [71]:
df['same_state']=df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)

## age of the Company

In [73]:
df['age']=df.Founded.apply(lambda x: x if x<1 else 2022-x)

## Parsing of Job Description

In [78]:
#Python
df['python_yn']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [85]:
df['python_yn'].value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [89]:
#r_studio
df['R_yn']=df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['R_yn'].value_counts()

0    740
1      2
Name: R_yn, dtype: int64

In [90]:
#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [94]:
#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [93]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [96]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'aws', 'spark', 'excel'],
      dtype='object')

In [97]:
df_out = df.drop(['Unnamed: 0'], axis =1)

In [98]:
df_out.to_csv('salary_data_cleaned.csv',index = False)